<!DOCTYPE html>
<html>
<head>
  <title>DevelomentpTeam</title>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>



<body>



<header>
		<div class="wrapper">
			<div class="logo">DevelomentpTeam</div>
			
			<nav>
				<%= link_to "INICIO", :controller => "alejandro", :action => "index" %>
				<%= link_to "Comentarios", :controller => "articles", :action => "index" %>
				<%= link_to "Servicios", :controller => "alejandro", :action => "index" %>
				<%= link_to "Contacto", :controller => "alejandro", :action => "index" %>
			</nav>
		</div>
	</header>

<div class="container" style="width:100%;">
	


<div class="container" style="width:100%;margin-top:10%;margin-bottom:10%;">
	<section>

	<%= yield %>

</section>
</div>


</div>




</body>

<footer class="primary-footer" style="color: #FFFFFF;width: 100%;text-align: center;">
    <div class="container" style="width:100%;background-color:#252932;">
      <small>&copy; 2016 Todo los derecho Reservados <a href="http://arcdn02.mundotkm.com/2015/08/perro-jugando.jpg" target="_blank">See article </a></small>
    </div>
</footer>

</html>
