<!DOCTYPE html>
<html>
<head>
  <title>Grupo-Wala</title>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
    $(function() {
      $("#slider-home").responsiveSlides({
        speed:500,
        nav:true,
        namespace: 'slid-btns',
        pause:false
      });
    });
</script>

	<header>
		<nav class="be-uni white large-padding">
			<ul class="no-list row center-xs">
				<li class="col-md">
					<h1 class="no-margin" id="logo">WALA</h1>
				</li>
				<li class="col-md">
					<%= link_to "Wilbert", :controller => "wilbert" , :action => "index2" %>
				</li>
				<ul class="col-md"->
					
					<%= link_to "Comentario", :controller => "articles" , :action => "index" %>
				</ul>
				<li class="col-md">
				    <%= link_to "Luis", :controller => "luis" , :action => "index3" %>
				</li>
				<li class="col-md">
				    <%= link_to "Aaron", :controller => "aaron" , :action => "index4" %>
				</li>
			</ul>
		</nav>
	</header>

<div class="container" style="width:100%;background-color: #2158FF;">
	


<div class="container" style="width:40%;">
	

	<%= yield %>


</div>


</div>




</body>

<footer class="primary-footer" style="color: #FFFFFF;width: 100%;text-align: center;">
    <div class="container" style="width:100%;background-color:#003485;">
      <small>&copy; 2016 Todo los derecho Reservados <a href="building-custom-context-menu-javascript" target="_blank">See article </a></small>
    </div>
</footer>

</html>
